<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Funda</title>
</head>
<body>
    <footer>
       <h4>English</h4>
       <p><a href="/">Funda in english</a></p>
   </footer>
   <!--<script src="/js/showhidedescr.js"></script>-->
</body>
</html>
