<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Funda</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css" />
</head>
<body>
   <header>
       <a href="/"><img src="/img/fundawonen-logo.svg" alt="Funda logo" /></a>
   </header>
</body>
</html>